spring:
  cloud:
    gateway:
      routes:
        - id: customer-service
          uri: http://localhost:8080
          predicates:
            - Path=/customer/**
          filters:
            - StripPrefix=1
